<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/images/TinkerHappy.png" alt="" width="30" height="24" class="d-inline-block align-top">
        Tinker
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/changelog">Changelog</a>
            </li>
            <li class="nav-item">
                <span class="d-inline-block <%= user ? "" : " tooltipActivate" %>" tabindex="0" <%- user ? ""
                        : 'data-toggle="tooltip" title="You must be logged in"' %> >

                        <a class="nav-link <%= user ? "" : " disabled" %>" href="/dashboard">Dashboard</a>
                </span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/premium">Premium</a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/auth/<%= user ? "logout" : "" %>">
            <button class="btn btn-outline-success" type="submit">
                <%= user ? "Logout" : "Login" %>
            </button>
        </form>
    </div>
</nav>